* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

a {
  /* 去除外轮廓*/
  outline: none;
  /* 不加任何修饰效果 如下划线、删除线 */
  text-decoration: none;
  /* 设置鼠标指针在元素上的样式为手型 */
  cursor: pointer;
}

ul,
li {
  /* 去除标签样式 */
  list-style-type: none;
}

/* .dr-home */
.dr-home {
  display: flex;
  /* 容器内的元素从上至下排列 */
  flex-direction: column;
  height: 100vh;
}

/* .dr-home .header */
.dr-home .header {
  display: flex;
  height: 55px;
  background: #393d49;
}

/* .dr-home .main */
.dr-home .main {
  display: flex;
  /* 减去 header 高度 */
  height: calc(100vh - 55px);
}

.dr-home .main .side {
  width: 200px;
  background: #545c64;
}

.dr-home .main .content {
  padding: 5px;
  flex: 1;
  overflow-y: auto;
}
